datasets
images
conf.ini
myvenv
*.*pyc
/.vscode
__pycache__
.directory
covid19
covid19bot.session
data/*
!data/ccaa_poblacion.csv
!data/WPP2019_TotalPopulation_UN_2019.csv
!data/world_population.csv
!data/spain_population.csv
